
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Intro 화면 */

#intro-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: pointer;
}

#intro-image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    transition: transform 0.5s ease;
}

#intro-screen:hover #intro-image {
    transform: scale(1.05);
}

/* Main 화면 */

#main-screen {
    display: flex;
    width: 100%;
    height: 100vh;
}

.hidden {
    display: none !important;
}

/* Sidebar */



.sidebar h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 6px 6px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.sidebar li:hover {
    background-color: #ced1d5;
}


.sidebar {
    display: grid;
    grid-template-rows: minmax(0, 1fr) 180px;
    height: 100vh;
    width: 280px;
    
    background-color: #ffffff;
    border: 1px solid black;
    color: rgb(21, 20, 20);
}

.sidebar-block {
    display: flex;
    flex-direction: column;

    min-height: 0;
    height: 100%;

    width: 240px;
    padding: 30px 20px; 
    border: 1px solid black;
}

.menu-top {
    flex: 1;
    min-height: 0px;
    overflow-y: auto;
    border: 1px solid black;
}

.menu-bottom {
    min-height: 0;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    flex: 1;
}


/* Main Content */

.main-content {
    flex: 1;
    padding: 40px;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.main-content h1 {
    margin-bottom: 20px;
    color: #222831;
}

.main-content p {
    color: #555;
}

#project-frame {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: block;
}




@media (max-width: 768px) {
    #main-screen {
        display: grid;
        grid-template-rows: auto minmax(0, 1fr) auto;
        width: 100%;
        height: 100dvh;
        overflow: hidden;
    }

    .main-content {
        grid-row: 2;
        width: 100%;
        height: 100%;
        min-width: 0;
        min-height: 0;
        padding: 10px;
        overflow: hidden;
    }

    #project-frame {
        width: 100%;
        height: 100%;
        min-width: 0;
        min-height: 0;
    }

    .sidebar {
        display: contents;
    }


    .sidebar-block {
        width: 100vw;
        padding: 20px 20px; 
        border: 1px solid black;
    }

    .menu-top {
        display: grid;
        grid-template-columns: repeat(5, auto);
        align-items: center;

        overflow-x: auto;
    }

    .menu-bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        align-items: center;

    }

    .sidebar li {
        padding: 10px 10px;
        margin: 5px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.2s ease;
        text-align: center;
    }
}