
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    /* overflow: hidden;
    font-family: Arial, sans-serif; */
}

#main {

    width: 100%;
    height: 100%;
    padding: 40px;
}

.main-container {
        /* display: grid;
    grid-template-rows: auto 1fr auto; */
    
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.main-content{
    width: 100%;
    height: 100%;
    border: 1px solid black;

}

.top-layer,
.bottom-layer {
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

/* .album{
    height: 50vh;
    width: 60vh;
    border: 1px solid black;
}

.left-button,
.right-button {
    width: 10vh;
    height: 50vh;
} */


#page-title {
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid black;
}

#page-info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 18px;
    border: 1px solid black;
}